<div class="authPopup popup">
  <p class="popup__text authPopup__text">Введите для авторизации</p>
  <form method="post" action="{%url 'users:login'%}?from={{ request.get_full_path }}" class="authPopup__form">
    {% csrf_token %}
    <div class="contacts__form_inputBlock">
      <input type="text" name="phonenumber" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="" />
    </div>
    {% if error %}
        <p class="popup__error">{{ error }}</p>
    {% endif %}
    <div class="contacts__form_checkboxBlock fic">
      <input type="checkbox" class="contacts__form_checkbox" checked="" />
      <span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
    </div>
    <button type="submit" class="popup__btn authPopup__btn">Отправить</button>
  </form>
</div>
