{% extends 'base_template.html' %}
{% load static %}
{% block content %}
  <section id="notes">
    <div class="container">
      <div class="notes">
        <div class="row">
          <div class="col-md-3 col-lg-2">
            <div class="accaunt__left">
              <div class="accaunt__ava fic">
                <img {% if  user.avatar %}
                  src="{{ user.avatar.url }}"
                {% else %}
                  src="{% static 'img/acc.svg' %}"
                {% endif %} alt="avatar" class="accaunt__ava_img"/>
                <span class="accaunt__ava_name">{% if  user.name %} {{ user.name }} {% else %} User {% endif %} </span>
              </div>
              <div class="accaunt__settings fic">
                <a href="{% url 'edit_profile' %}" class="accaunt__settings_intro">Изменить профиль</a>
                <a href="{% url 'users:logout' %}?from={{ request.get_full_path }}"
                   class="accaunt__settings_out">Выйти</a>
              </div>
              <nav>
                <div class="accaunt__menu_title">МЕНЮ</div>
                <ul class="accaunt__menu">
                  <li class="accaunt__menu_item active">
                    <a href="#" class="accaunt__menu_item__link">
                      <div class="accaunt__menu_block fic">
                        <img src="{% static 'img/icons/list.svg' %}" alt="icon" class="accaunt__menu_icon"/>
                        <span class="accaunt__menu_item__link_intro">Мои записи</span>
                      </div>
                    </a>
                  </li>
                  <li class="accaunt__menu_item">
                    <a href="#" class="accaunt__menu_item__link">
                      <div class="accaunt__menu_block fic">
                        <img src="{% static 'img/icons/settings.svg' %}" alt="icon" class="accaunt__menu_icon"/>
                        <span class="accaunt__menu_item__link_intro">Настройки</span>
                      </div>
                    </a>
                  </li>
                  <li class="accaunt__menu_item">
                    <a href="#" class="accaunt__menu_item__link">
                      <div class="accaunt__menu_block fic">
                        <img src="{% static 'img/icons/tex.svg' %}" alt="icon" class="accaunt__menu_icon"/>
                        <span class="accaunt__menu_item__link_intro">Тех. поддержка</span>
                      </div>
                    </a>
                  </li>
                  <li class="accaunt__menu_item">
                    <a href="#" class="accaunt__menu_item__link">
                      <div class="accaunt__menu_block fic">
                        <img src="{% static 'img/icons/pay.svg' %}" alt="icon" class="accaunt__menu_icon"/>
                        <span class="accaunt__menu_item__link_intro">Платежи</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-12 col-lg-10">
            <div class="notes__main">
              <div class="notes__title">Мои записи</div>
              <hr class="hr"/>
            </div>
            {% include "notes_content.html" %}

          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="display: none;">
    <div class="box-modal paymentPopup popup" id="paymentModal">
      <div class="box-modal_close arcticmodal-close">
        <img src="{% static 'img/x.svg' %}" alt="x"/>
      </div>
      <div class="popup__title paymentPopup__title">Оплата</div>
      <form action="{% url 'send_payment' %}" method="post" class="paymentPopup__form">
        {% csrf_token %}
        <input type="hidden" name="appointment_id" id="appointment_id_input" />
        <input type="hidden" name="tips_amount" id="tips_amount_input">
        <div class="paymentPopup__form_intro popup__intro">номер карты</div>
        <input type="text" name="tel" class="paymentPopup__form_input popup__input" placeholder="Введите номер"
               required=""/>
        <div class="paymentPopup__form_block fic">
          <input type="text" name="mm" class="tipsPopup__form_inputMin popup__input" placeholder="ММ" required=""/>
          <input type="text" name="gg" class="tipsPopup__form_inputMin popup__input" placeholder="ГГ" required=""/>
        </div>
        <div class="paymentPopup__form_elems fic">
          <input type="text" name="fname" class="paymentPopup__form_inputMid popup__input" placeholder="Имя владельца"
                 required=""/>
          <input type="text" name="cvc" class="tipsPopup__form_inputMin popup__input" placeholder="CVC" required=""/>
        </div>
        <div class="paymentPopup__form_intro popup__intro">Ваш e-mail(необязательно)</div>
        <input type="email" name="tel" class="paymentPopup__form_input popup__input" placeholder="pochta@mail.ru"/>
        <button type="submit" class="popup__btn">Оплатить</button>
      </form>
    </div>
  </div>
  <div style="display: none;">
    <div class="box-modal tipsPopup popup" id="tipsModal">
      <div class="box-modal_close arcticmodal-close">
        <img src="{% static 'img/x.svg' %}" alt="x"/>
      </div>
      <div class="">
        <div class="popup__title tipsPopup__title">Чаевые</div>
        <form action="#" class="tipsPopup__form">
          <div class="tipsPopup__form_intro popup__intro">Введите сумму чаевых</div>
          <input type="text" class="tipsPopup__form_input popup__input" placeholder="0.00" required=""/>
          <button class="tipsPopup__btn popup__btn">Далее</button>
        </form>
      </div>
    </div>
  </div>
  <div style="display: none;">
    <div class="box-modal reviewPopup popup" id="reviewModal">
      <div class="box-modal_close arcticmodal-close">
        <img src="{% static 'img/x.svg' %}" alt="x"/>
      </div>
      <div class="popup__title reviewPopup__title">Отзыв</div>
      <form action="{% url 'send_review' %}" method="post" class="reviewPopup__form">
        {% csrf_token %}
      <input type="text" name="name" class="paymentPopup__form_input popup__input" placeholder="Введите имя" required />

      <div class="contacts__form_inputBlock">
        <input type="text" name="phone_number" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required />
      </div>

      <input type="date" name="dateVis" class="paymentPopup__form_input popup__input" required />

    <div class="rating-block" style="margin-top: 10px;">
      <label style="display: block; margin-bottom: 5px;">Оценка:</label>
      <div class="rating-stars" style="display: flex; flex-direction: column; gap: 5px;">
        <label><input type="radio" name="rating" value="1" required />★☆☆☆☆</label>
        <label><input type="radio" name="rating" value="2" />★★☆☆☆</label>
        <label><input type="radio" name="rating" value="3" />★★★☆☆</label>
        <label><input type="radio" name="rating" value="4" />★★★★☆</label>
        <label><input type="radio" name="rating" value="5" />★★★★★</label>
      </div>
    </div>
    <textarea name="description" class="reviewPopup__form_textarea" placeholder="Текст отзыва" required></textarea>

    <div class="contacts__form_checkboxBlock fic">
      <input type="checkbox" class="contacts__form_checkbox" checked />
      <span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
    </div>
    <button class="tipsPopup__btn popup__btn">Отправить Отзыв</button>
   </form>
  </div>
{% endblock %}