{% extends 'base_template.html' %} {% load static %} {% block content %}
<section id="service">
  <div class="container">
    <div class="service">
      <div class="breadCrumbs">
        <a href="{% url 'main' %}" class="breadCrumbs__item">На главную</a>
      </div>
      <div class="service__block">
        <h1 class="service__title">Запись на услугу</h1>
        <button class="phone__btn" onclick="openModal()">
          Запись по телефону
        </button>
        <div id="phoneModal" class="modal">
          <div class="modal-content">
            <p class="modal-text">
              Чтобы записаться на нужную Вам услугу,<br />
              пожалуйста, позвоните по этому номеру<br /><strong
                >+7 (917) 902 38 00</strong
              >
            </p>
            <button class="modal-ok" onclick="closeModal()">Окей</button>
          </div>
        </div>
      </div>

      <form action="#" class="service__form">
        <!--  <select name="selectSalon" id="" class="service__form_select">
						<option value="" selected>(Выберите салон)</option>
						<option value="salon1" >Салон 1</option>
						<option value="salon2" >Салон 2</option>
						<option value="salon3" >Салон 3</option>
					</select>  -->
        <div class="service__form_block service__salons">
          <button class="accordion ajax_service_salon">(Выберите салон)</button>
          <div class ="panel">
          </div>
        </div>
        <div class="service__form_block service__services">
          <button class="accordion ajax_service_services">(Выберите услугу)</button>
          <div class="panel">
          </div>
        </div>
        <div class="service__form_block service__masters">
          <button class="accordion ajax_service_masters">(Выберите мастера)</button>
          <div class="panel">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section id="time">
  <div class="container">
    <div class="time">
      <h2 class="time__title">Выберите время</h2>
      <div class="time__block">
        <div class="row">
          <div class="col-md-4">
            <div id="datepickerHere"></div>
          </div>
          <div class="col-md-8">
            <div class="time__elems">
              {% for key, values in slots.items %}
              <div class="time__items">
                <div class="time__elems_intro">{{key}}</div>
                <div class="time__elems_elem fic">
                  {% for slot in values %}
                  <button data-time="{{slot}}" class="time__elems_btn">
                    {{slot}}
                  </button>
                  {% endfor %}
                </div>     
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="time__btns">
        <div class="row">
          <div class="col-md-12">
            <button class="time__btns_next" onclick="location.href='{% url 'serviceFinally' %}'">Далее</button>
            <button class="time__btns_home" onclick="location.href='{% url 'main' %}'">На главную</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
